{% extends 'navbar.html' %}<!--this is comment-->
{% load static %}<!--this is comment-->
{% block title %}Home{% endblock%}<!--this is comment-->
{% block content %} <br /><br />
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> -->
<div style="display: flex" class="">
  <div>
    <img
      style="
        float: left;
        width: 670px;
        height: 500px;
        margin-left: 35px;
        margin-right: 100px;
      "
      class="img1"
      src="{% static 'images/product_int.png' %}"
      alt=""
    />
  </div>
  <div>
    <p style="font-size: 40px; font-weight: bolder">
      <br /><br />
      Consumer Purchase Intention <br /><span style="color: #6c63ff"
        >Prediction System</span
      >
    </p>
    <p>
      We recommend using the Twitter color palette for personal projects and in
      the case of <br />
      commercial use to visit the company website
      <br>
      <!-- <i style=" background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;" class="fab fa-google fa-3x"></i> -->
      <div style="display: flex; width: 200px; justify-content: space-between">
        <div>
          <!-- <a href="#"><span class="icon-facebook"></span></a> -->
          <svg
            style="color: #3b5998"
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="bi bi-facebook"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
            />
          </svg>
        </div>
        <br />
        <div>
          <!-- <a href="#"><span class="icon-twitter"></span></a> -->
          <svg
            style="color: #1DA1F2;"
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="bi bi-twitter"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
            />
          </svg>
        </div>
        <div>
          <!-- <a href="#"><span class="icon-linkedin"></span></a> -->
          <svg
            style="color: #0077b5"
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="bi bi-linkedin"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
            />
          </svg>
        </div>
        <div>
          <!-- <a href="#"><span class="icon-medium"></span></a> -->
          <svg
            style="color: #171515;"
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="bi bi-github"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            />
          </svg>
        </div>
        <div>
          <!-- <a href="#"><span class="icon-paper-plane"></span></a> -->
          <svg
           style="color: #DB4437;" 
           xmlns="http://www.w3.org/2000/svg" 
           width="35" 
           height="35" 
           fill="currentColor" 
           class="bi bi-envelope" 
           viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg>
          <!-- <svg
            style="color: #DB4437;"
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="bi bi-google"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"
            />
          </svg> -->
        </div>
      </div>
    </p>
    <!-- <button type="button" class="btn btn-primary btn-lg"><a href="https://github.com/Premrathod">Github</a></button> -->
    <a
      href="https://github.com/Premrathod"
      class="btn btn-primary btn-lg active"
      role="button"
      aria-pressed="true"
      >Github</a
    >
  </div>
</div>
<div class="jumbotron">
  <p style="font-size: 60px; font-weight: bolder; text-align: center;">
     Steps
  </p>
</div>
<div style="display: flex" class="">
  <div style="margin-left: 55px; margin-right: 10px">
    <p style="font-size: 40px; font-weight: bolder">
      <br />
      <br />
      1] Data acquisition and<br /><span style="color: #6c63ff"
        >Preprocessing</span
      >
    </p>
    <p>
      <ul>
        <li>Extract tweets that are related to the  target products</li>
        <li>Clean, pre-process and transform the tweets</li>
      </ul>
    </p>
    <!-- <button type="button" class="btn btn-primary btn-lg"><a href="https://github.com/Premrathod">Github</a></button> -->
    <a
      href="https://github.com/Premrathod"
      class="btn btn-primary btn-lg active"
      role="button"
      aria-pressed="true"
      >Github</a
    >
  </div>
  <div>
    <img
      style="float: left; width: 670px; height: 500px"
      class="img1"
      src="{% static 'images/data.png' %}"
      alt=""
    />
  </div>
</div>

<div style="display: flex" class="">
  <div>
    <img
      style="
        float: left;
        width: 670px;
        height: 500px;
        margin-left: 35px;
        margin-right: 100px;
      "
      class="img1"
      src="{% static 'images/viral_tweet.png' %}"
      alt=""
    />
  </div>
  <div>
    <p style="font-size: 40px; font-weight: bolder">
      <br /><br /><br />
      <span style="color: #6c63ff"
        >2] The Model
      </span>
    </p>
    <p>
      <ul>
        <li>Train various text analytics models on the tweets and profile of users </li>
        <li>Choose the best model having highest performance measure</li>
      </ul>
    </p>
    <!-- <button type="button" class="btn btn-primary btn-lg"><a href="https://github.com/Premrathod">Github</a></button> -->
    <a
      href="https://github.com/Premrathod"
      class="btn btn-primary btn-lg active"
      role="button"
      aria-pressed="true"
      >Github</a
    >
  </div>
</div>

<div style="display: flex" class="">
  <div style="margin-left: 55px; margin-right: 10px">
    <p style="font-size: 40px; font-weight: bolder">
      <br />
      <br />
      3] Predicting the  <br /><span style="color: #6c63ff"
        >Consumer Intention</span
      >
    </p>
    <p>
      <ul>
        <li>Predict which Consumer have shown the intention to buy the desired product</li>
        <li>Rank the customers according to their level/intensity of their purchase intention</li>
      </ul>
    </p>
    <!-- <button type="button" class="btn btn-primary btn-lg"><a href="https://github.com/Premrathod">Github</a></button> -->
    <a
      href="https://github.com/Premrathod"
      class="btn btn-primary btn-lg active"
      role="button"
      aria-pressed="true"
      >Github</a
    >
  </div>
  <div>
    <img
      style="float: left; width: 670px; height: 500px"
      class="img1"
      src="{% static 'images/data_extraction.png' %}"
      alt=""
    />
  </div>
</div>

<div style="display: flex" class="">
  <div>
    <img
      style="
        float: left;
        width: 670px;
        height: 500px;
        margin-left: 35px;
        margin-right: 100px;
      "
      class="img1"
      src="{% static 'images/tweetstorm.png' %}"
      alt=""
    />
  </div>
  <div>
    <p style="font-size: 40px; font-weight: bolder">
      <br /><br />
      <br /><span style="color: #6c63ff"
        >4] Application</span
      >
    </p>
    <p>
      <ul><li>
        Companies and Business can directly target those customers which have shown high intention to buy the product
      </li></ul>
    </p>
    <!-- <button type="button" class="btn btn-primary btn-lg"><a href="https://github.com/Premrathod">Github</a></button> -->
    <a
      href="https://github.com/Premrathod"
      class="btn btn-primary btn-lg active"
      role="button"
      aria-pressed="true"
      >Github</a
    >
  </div>
</div>

<div style="display: flex" class="">
  <div style="margin-left: 55px; margin-right: 10px">
    <p style="font-size: 40px; font-weight: bolder">
      <br />
      <br />
      Consumer Intention <br /><span style="color: #6c63ff"
        >Prediction using Twitter</span
      >
    </p>
    <p>
      We recommend using the Twitter color palette for personal projects and in
      the case of commercial use to visit the company website
    </p>
    <!-- <button type="button" class="btn btn-primary btn-lg"><a href="https://github.com/Premrathod">Github</a></button> -->
    <a
      href="https://github.com/Premrathod"
      class="btn btn-primary btn-lg active"
      role="button"
      aria-pressed="true"
      >Github</a
    >
  </div>
  <div>
    <img
      style="float: left; width: 670px; height: 500px"
      class="img1"
      src="{% static 'images/data_extraction.png' %}"
      alt=""
    />
  </div>
</div>

<!-- FOOTER START -->
<!-- CSS only -->
<div>
  <style>
    a {
      -webkit-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease;
    }
    a,
    a:hover {
      text-decoration: none !important;
    }

    .content {
      height: 70vh;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .footer-20192 {
      position: relative;
      color: #fff;
      padding: 7rem 0;
      background-color: #141d2a;
    }
    .footer-20192 .container {
      position: relative;
    }
    .footer-20192 h3 {
      font-size: 16px;
      margin-bottom: 10px;
      margin-top: 0;
      line-height: 1.5;
    }
    .footer-20192 .links li {
      margin-bottom: 10px;
      line-height: 1.5;
      display: block;
    }
    .footer-20192 .links li a {
      color: #666873;
    }
    .footer-20192 .links li a:hover {
      color: #fff;
    }
    .footer-20192 .social li {
      display: inline-block;
      position: relative;
    }
    .footer-20192 .social li a {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      margin: 0;
      padding: 0;
      background-color: #8186d5;
      color: #fff;
    }
    .footer-20192 .social li a > span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .footer-20192 .footer-logo {
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
    .footer-20192 .copyright {
      color: #666873;
    }
    .footer-20192 .cta {
      -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
      box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
      padding: 20px;
      background-color: #8186d5;
      top: -150px;
      position: relative;
    }
    .footer-20192 .cta h2,
    .footer-20192 .cta h3 {
      line-height: 1.5;
    }
    .footer-20192 .cta h3 {
      font-size: 20px;
    }
  </style>
  <!-- <div class="content d-flex align-items-center bg-light">
    <h2 class="w-100 text-center">Footer #1</h2>
  </div> -->
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <footer class="footer-20192">
    <div class="site-section">
      <div class="container">
        <div class="cta d-block d-md-flex align-items-center px-5">
          <div>
            <h2 style="color: white" class="mb-0">Ready for a next project?</h2>
            <h3 class="text-dark">Let's get started!</h3>
          </div>
          <div class="ml-auto">
            <!-- <a href="#" class="btn btn-dark rounded-0 py-3 px-5">Contact us</a> -->
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <a href="#" class="footer-logo">Colorlib</a>
            <p class="copyright">
              <small>&copy; 2019</small>
            </p>
          </div>
          <div class="col-sm">
            <h3 style="color: white">Customers</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Buyer</a></li>
              <li><a href="#">Supplier</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3 style="color: white">Company</h3>
            <ul class="list-unstyled links">
              <li><a href="#">About us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3 style="color: white">Further Information</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 style="color: white">Follow us</h3>
            <ul class="list-unstyled social">
              <li>
                <!-- <a href="#"><span class="icon-facebook"></span></a> -->
                <svg
                facebook: style="color: #3b5998"
                  xmlns="http://www.w3.org/2000/svg"
                  width="35"
                  height="35"
                  fill="currentColor"
                  class="bi bi-facebook"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                  />
                </svg>
              </li>
              <li>
                <!-- <a href="#"><span class="icon-twitter"></span></a> -->
                <svg
                twitter : style="color: #1DA1F2;"
                  xmlns="http://www.w3.org/2000/svg"
                  width="35"
                  height="35"
                  fill="currentColor"
                  class="bi bi-twitter"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                  />
                </svg>
              </li>
              <li>
                <!-- <a href="#"><span class="icon-linkedin"></span></a> -->
                <svg
                linkedin : style="color: #0077b5"
                  xmlns="http://www.w3.org/2000/svg"
                  width="35"
                  height="35"
                  fill="currentColor"
                  class="bi bi-linkedin"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                  />
                </svg>
              </li>
              <li>
                <!-- <a href="#"><span class="icon-medium"></span></a> -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="35"
                  height="35"
                  fill="currentColor"
                  class="bi bi-github"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                  />
                </svg>
              </li>
              <li>
                <!-- <a href="#"><span class="icon-paper-plane"></span></a> -->
                <!-- <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="35"
                  height="35"
                  fill="currentColor"
                  class="bi bi-google"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"
                  />
                </svg> -->
                <svg
           style="color: #DB4437;" 
           xmlns="http://www.w3.org/2000/svg" 
           width="35" 
           height="35" 
           fill="currentColor" 
           class="bi bi-envelope" 
           viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- FOOTER END -->
{% endblock %}
